@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --CorPrincipal: #B79CBF;
    --CorBackground: #EDE6EF;
    --CorBotao: #EAEBEB;

    --FontPrincipal: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--CorBackground);
}

.cabecalho{
    background-color: var(--CorPrincipal);
    font-family: var(--FontPrincipal);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cabecalho h1 {
    font-weight: 500;
}

.btn{
    text-decoration: none;
    font-family: var(--FontPrincipal);
    background-color: var(--CorBotao);
    color: black;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 5px black;
    padding: 15px;
    margin: 50px;
    border-radius: 10px;
    gap: 1rem;
    font-size: 23px;
    align-items: center;
}

.imgBtn {
    width: 35px;
}